.chat {
  display: table;
  width: 600px;
  min-height: 400px;
  background: #E1E1E1;
  font-size: 12px;
  margin-top: -10vh;

  .output {
    width: 100%;
    height: 350px;
    padding: 10px;

    .message-wrapper {
      width: 100%;
      height: auto;
      display: table;
      margin-bottom: 10px;

      .message {
        float: right;
        padding: 6px 10px;
        background: white;
        color: #333;
      }
    }

    .question-wrapper {
      width: 100%;
      display: table;
      margin-bottom: 10px;

      .question {
        width: 60%;
        background: blue;
        color: white;
        padding: 6px 10px;
      }

      .answers {
        width: 100%;
        max-height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        margin-top: 10px;
        transition: all 0.4s ease-in-out;
        position: relative;

        &.answered {
          width: 100%;
          display: table;
        }

        .answer {
          background: white;
          color: #333;
          text-align: center;
          padding: 6px 10px;
          cursor: pointer;

          &.selected {
            float: right
          }

          &.hidden {
            display: none;
          }
        }
      }
    }
  }

  .input {
    width: 100%;
    height: 50px;
    
    textarea {
      width: 100%;
      min-height: 50px;
      height: 50px;
      display: block;
      border: 0;
      outline: 0;
      resize: vertical;
    }
  }
}