* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #EFEFEF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}